<div class="container">
  <div class="login-box">

  <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email" />
    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error">
      Το e-mail δεν είναι έγκυρο.
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password" />
    <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error">
      Ο κωδικός δεν είναι έγκυρος.
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Σύνδεση</button>

</form>

    <button (click)="navigateToRegister()" class="btn btn-primary"><a>Εγγραφή Χρήστη</a></button>

  </div>
</div>


