<div class="container">
  <div class="register-box">
    <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control"
        />
        <div
          *ngIf="form.get('username')?.invalid && form.get('username')?.touched"
          class="error"
        >
          Username is required.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
        />
        <div
          *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
          class="error"
        >
          Email is required.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Κωδικός πρόσβασης</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
        />

        <div
          *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
          class="error"
        >
          <!-- Υποχρεωτικό -->
          <small *ngIf="form.get('password')?.errors?.['required']">
            Ο κωδικός πρόσβασης είναι υποχρεωτικός.
          </small>

          <!-- Ελάχιστο μήκος -->
          <small *ngIf="form.get('password')?.errors?.['minlength']">
            Ο κωδικός πρέπει να έχει τουλάχιστον
            {{ form.get('password')?.errors?.['minlength'].requiredLength }}
            χαρακτήρες.
          </small>

          <!-- Μέγιστο μήκος -->
          <small *ngIf="form.get('password')?.errors?.['maxlength']">
            Ο κωδικός δεν μπορεί να ξεπερνά τους
            {{ form.get('password')?.errors?.['maxlength'].requiredLength }}
            χαρακτήρες.
          </small>
        </div>
      </div>
      <re-captcha
        [siteKey]="environment.recaptcha.sitekey"
        (resolved)="handleCaptchaResponse($event)"
      >
        formControlName="recaptcha">
      </re-captcha>
      <div
        *ngIf="form.get('recaptcha')?.invalid && form.get('recaptcha')?.touched"
        class="error"
      >
        Please complete the CAPTCHA
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid || !this.recaptchaResolved"
      >
        Εγγραφή
      </button>
    </form>
    <button (click)="navigateToLogin()" class="btn btn-primary">
      <a>Σύνδεση Χρήστη</a>
    </button>
  </div>
</div>
